@font-face {
  font-family: "Market Sans";
  src: url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-Regular-WebS.eot");
  src: url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-Regular-WebS.eot?#iefix")
      format("embedded-opentype"),
    url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-Regular-WebS.woff2")
      format("woff2"),
    url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-Regular-WebS.woff")
      format("woff"),
    url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-Regular-WebS.ttf")
      format("truetype"),
    url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-Regular-WebS.svg#MarketSans-Regular-WebS")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Market Sans";
  src: url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-SemiBold-WebS.eot");
  src: url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-SemiBold-WebS.eot?#iefix")
      format("embedded-opentype"),
    url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-SemiBold-WebS.woff2")
      format("woff2"),
    url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-SemiBold-WebS.woff")
      format("woff"),
    url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-SemiBold-WebS.ttf")
      format("truetype"),
    url("https://ir.ebaystatic.com/cr/v/c1/market-sans/v1.0/MarketSans-SemiBold-WebS.svg#MarketSans-SemiBold-WebS")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

.col {
  flex: 1;
  padding: 2%;
  text-align: justify;
}

.myfucture {
  text-align: center;
}

.black-wrapper {
  background: #fff;
  margin: 0;
}

.black-wrapper p {
  color: #d5bdaf;
  text-align: left;
  margin: 0;
  padding: 1em 0 0 0;
}

.center {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 190px;
}

.minhaclasse {
  background-color: #f5ebe0;
  border: #f5ebe0;
}

.branco {
  color: #d5bdaf;
  font-size: 1.3rem;
}

.fundo {
  background-color: #f5ebe0;
  margin-bottom: 2em;
}

.tresImagenes {
  height: 75em;
  max-height: 350px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .black-wrapper p {
    font-size: 0.9rem;
  }

  .branco {
    font-size: 0.9rem;
  }

  .tresImagenes {
    max-height: 300px;
  }
}

@media (max-width: 768px) {
  .black-wrapper p {
    font-size: 0.8rem;
  }

  .branco {
    font-size: 0.8rem;
  }

  .tresImagenes {
    max-height: 250px;
  }
}

@media (max-width: 576px) {
  .black-wrapper p {
    font-size: 0.7rem;
  }

  .branco {
    font-size: 0.7rem;
  }

  .tresImagenes {
    max-height: 200px;
  }
}
